body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: #47220f;
}

body::-webkit-scrollbar-thumb {
  background: #823e1b;
  border-radius: 10px;
}

td {
  width: 50%;
}

.grid-item {
  border-bottom: 1px dashed #47220f;
  border-top: 1px dashed #47220f;
  height: 100px;
  width: 100%;
}

#empty-cart {
  font-size: 5px;
  text-align: center;
  width: 50%;
}

#checkout-items {
  border: 3px solid #47220f;
  text-align: left;
  width: 90%;
  height: 500px;
  font-size: 13px;
  overflow-y: scroll;
  padding: 0;
  display: grid;
  grid-template-columns: auto 100%;
  grid-template-rows: auto auto;
}

#BillingInfo {
  width: 100%;
}

#cart-item {
  width:100px;
  height: 100px;
  padding: 0;
}

#checkout-items::-webkit-scrollbar {
  width: 12px;
}

#checkout-items::-webkit-scrollbar-track {
  background: #d8ccb6;
}

#checkout-items::-webkit-scrollbar-thumb {
  background: #823e1b;
  border-radius: 10px;
}

#yourCartText {
  border-color: transparent;
}
